<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-5">
    <form>
      <mat-form-field>
        <mat-label>Ordenar</mat-label>
        <mat-select (selectionChange)="ordenarProductos()" name="ordenar" [(ngModel)]="ordenarOption" required>
          <mat-option *ngFor="let option of options" value="{{option}}">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    </div>
  
  </div>
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
    </div>
  </div>
  <div class="row" *ngIf="users.length > 0">
    <div class="col-sm-5 col-md-3" *ngFor="let user of users | filter:filterPost" >
      <app-user [user]="user"> </app-user>
    </div>
  </div>
  <div class="row" *ngIf="users.length === 0">
    <h1>No hay Usuarios</h1>
  </div>
</div>

