<div class="container">
  <h1>Listado Posts</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="filterPost"
          placeholder="Ej. Nombre:Juan"
          [(ngModel)]="filterPost"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Title</th>
            <th>Fecha de Nacimiento</th>
            <th>País</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | filter: filterPost">
            <td>{{ user.cedula }}</td>
            <td>{{ user.nombre }} {{ user.apellidos }}</td>
            <td>{{ user.fechaNacimiento }}</td>
            <td>{{ user.pais }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
