<mat-toolbar color="primary">
        <span [routerLink]="['']"
        style="cursor: pointer;"
        >Usuarios</span>
        <span class="toolbar"></span>
        <mat-icon
          class="ui-icon-person"
          aria-hidden="false"
          aria-label="Agregar"
          class="icon"
          [routerLink]="['/new-user']"
          style="cursor: pointer;"
          routerLinkActive="router-link-active"
          >person_add</mat-icon
        >
        <mat-icon
          class="ui-icon-search"
          aria-hidden="false"
          aria-label="Buscar"
          class="icon"
          [routerLink]="['/list']"
          style="cursor: pointer;"
          routerLinkActive="router-link-active"
          >search</mat-icon
        >
</mat-toolbar>