<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-4">
      <div>
        <h1>Nuevo Usuario</h1>
        <form [formGroup]="form">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Digite su Nombre"
                    formControlName="name"
                  />
                  <div *ngIf="submitted && f.name.errors" class="text-danger">
                    <div *ngIf="f.name.errors.required"><small>Nombre Requerido</small></div>
                </div>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Digite sus apellidos"
                    formControlName="lastname"
                  />
                  <div *ngIf="submitted && f.lastname.errors" class="text-danger">
                    <div *ngIf="f.lastname.errors.required"><small>Apellido Requerido</small></div>
                </div>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>País</mat-label>
                  <mat-select (selectionChange)="selectOpt($event)" required formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="{codigo :country.alpha2Code, pais: country.name}">
                      {{country.name}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.country.errors" class="text-danger">
                    <div *ngIf="f.country.errors.required"><small>Pais Requerido</small></div>
                </div>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field *ngIf="selected">
                  <mat-label>Ciudad</mat-label>
                  <select matNativeControl required formControlName="city">
                 <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                  </select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Elija la fecha de Nacimiento"
                    formControlName="date"
                    [max]="today"
                    [min]="min"
                  />
                  <div *ngIf="submitted && f.date.errors" class="text-danger">
                    <div *ngIf="f.date.errors.required"><small>Fecha de Nacimiento Requerida</small></div>
                </div>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <button
            mat-button
            mat-flat-button
            color="primary"
            class="btn btn-block"
            (click)="click()"
          >
            Agregar Usuario
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
