<div *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-4">
        <div>
          <h1>Editar Usuario</h1>
          <form [formGroup]="formulario" class="form">
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="name"
                      class="full-width"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="lastname"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>País</mat-label>
                    <mat-select formControlName="country" (selectionChange)="selectOpt($event)" required>
                      <mat-option *ngFor="let country of countries" [value]="{codigo :country.alpha2Code, pais: country.name}">
                        {{country.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field *ngIf="selected">
                    <mat-label>Ciudad</mat-label>
                    <select matNativeControl required formControlName="city">
                   <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                    </select>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td>
                  <button
                    mat-button
                    mat-flat-button
                    color="primary"
                    (click)="updateUser()"
                    class="btn btn-block"
                  >
                    Actualizar
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <button
                    mat-button
                    mat-flat-button
                    color="warn"
                    (click)="deleteUser()"
                    class="btn btn-block"
                  >
                    Borrar
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
